/*********************************************
 * Hack para a Transição dos Slides
*********************************************/

.reveal .slides > section {
    display: block !important;
}

.reveal .slides > section #tpc01_12 {
    display: block !important;
}
.reveal .slides > section #tpc01_12_01 {
    display: block !important;
}

.reveal .slides > section #tpc01_13 {
    display: block !important;
}
.reveal .slides > section #tpc01_13_01 {
    display: block !important;
}

.reveal .slides > section #tpc03_01_01 {
    display: block !important;
}
.reveal .slides > section #tpc03_01_02 {
    display: block !important;
}
.reveal .slides > section #tpc03_02_01 {
    display: block !important;
}
.reveal .slides > section #tpc03_02_02 {
    display: block !important;
}
.reveal .slides > section #tpc03_03_01 {
    display: block !important;
}
.reveal .slides > section #tpc03_03_02 {
    display: block !important;
}
.reveal .slides > section #tpc03_04_01 {
    display: block !important;
}
.reveal .slides > section #tpc03_04_02 {
    display: block !important;
}
.reveal .slides > section #tpc03_05_01 {
    display: block !important;
}
.reveal .slides > section #tpc03_05_02 {
    display: block !important;
}


/*********************************************
* Gambiarra de Animação aula02
*********************************************/

.highway{
    height: 221px; 
    background-image: url("imgipc/road.png"); 
    background-position: center; 
    background-size: contain;
    background-repeat: no-repeat; 

    border: 0px;
    margin:  0px;
    padding: 0px;
}

.carstart{
    height: 80px;
    float: left;
    margin-left: 16.5%;
    margin-top: 8.5%;
}

.caratbiway{
    height: 80px;
    float: left;
    margin-left: 25%;
    margin-top: 8.5%;
}

.carbroke{
    height: 80px;
    float: left;
    margin-left: 33%;
    margin-top: 3.5%;
}

.cartofix{
    height: 80px;
    float: left;
    margin-left: 50%;
    margin-top: 3.5%;
}

.caratbiway2{
    height: 80px;
    float: left;
    margin-left: 60%;
    margin-top: 8.5%;
}

.carend{
    height: 80px;
    float: left;
    margin-left: 67%;
    margin-top: 8.5%; 
}

.carnotbroke{
    height: 80px;
    float: left;
    margin-left: 33%;
    margin-top: 15%;
}

.carnottofix{
    height: 80px;
    float: left;
    margin-left: 50%;
    margin-top: 15%;
}
