/*********************************************
 * Hack para a Transição dos Slides
*********************************************/

.reveal .slides > section {
    display: block !important;
}

.reveal .slides > section #tpc01_01_01 {
    display: block !important;
}

.reveal .slides > section #tpc01_01_04 {
    display: block !important;
}

.reveal .slides > section #tpc01_03_03{
    display: block !important;
}

.reveal .slides > section #tpc03_03_03 {
    display: block !important;
}

.reveal .slides > section #tpc03_03_04 {
    display: block !important;
}

.reveal .slides > section #tpc03_08 {
    display: block !important;
}

.reveal .slides > section #tpc03_09 {
    display: block !important;
}

/*********************************************
 * gambiarra dos strings
*********************************************/
.ball {
    border: 1px transparent;
    background-color: orangered;
    opacity: 60%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    position: absolute;
    text-align: center; 
    font-size: 20px;
}
.ballvisible {
    border: 1px transparent;
    background-color: orangered;
    opacity: 60%;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    text-align: center; 
    font-size: 20px;
}
#ball1 {
    top: 55px; 
    left: 60px;
}
#ball1:hover {
    color: white;
    border-radius: 0px;
    opacity: 100%;
    width: 152px;
    top: 115px;
    text-align: left;
}
#ball1:hover:after{
    content: 'Posição: 0 \A Conteúdo: \"A\"';
}

#ball2 {
    top: 60px; 
    left: 105px;
}
#ball2:hover {
    color: white;
    border-radius: 0px;
    opacity: 100%;
    width: 150px;
    top: 117px;
    text-align: left;
}
#ball2:hover:after{
    content: 'Posição: 1 \A Conteúdo: \"m\"';
}

#ball3 {
    top: 70px;
    left: 145px;
}
#ball3:hover {
    color: white;
    border-radius: 0px;
    opacity: 100%;
    width: 150px;
    top: 135px;
    text-align: left;
}
#ball3:hover:after{
    content: 'Posição: 2 \A Conteúdo: \"o\"';
}

#ball4 {
    top: 95px;
    left: 185px;
}
#ball4:hover {
    color: white;
    border-radius: 0px;
    opacity: 100%;
    width: 150px;
    top: 170px;
    text-align: left;
}
#ball4:hover:after{
    content: 'Posição: 3 \A Conteúdo: \" \" ';
}

#ball5 {
    top: 120px;
    left: 220px;
}
#ball5:hover {
    color: white;
    border-radius: 0px;
    opacity: 100%;
    width: 150px;
    top: 205px;
    text-align: left;
}
#ball5:hover:after{
    content: 'Posição: 4 \A Conteúdo: "o"';
}

#ball6 {
    top: 150px;
    left: 250px;
}
#ball6:hover {
    color: white;
    border-radius: 0px;
    opacity: 100%;
    width: 150px;
    top: 245px;
    text-align: left;
}
#ball6:hover:after{
    content: 'Posição: 5 \A Conteúdo: \" \" ';
}

#ball7 {
    top: 150px;
    left: 295px;
}
#ball7:hover {
    color: white;
    border-radius: 0px;
    opacity: 100%;
    width: 150px;
    top: 245px;
    text-align: left;
}
#ball7:hover:after{
    content: 'Posição: 6 \A Conteúdo: \"P\" ';
}

#ball8 {
    top: 140px;
    left: 340px;
}
#ball8:hover {
    color: white;
    border-radius: 0px;
    opacity: 100%;
    width: 150px;
    top: 230px;
    text-align: left;
}
#ball8:hover:after{
    content: 'Posição: 7 \A Conteúdo: \"y\" ';
}

#ball9 {
    top: 125px;
    left: 380px;
}
#ball9:hover {
    color: white;
    border-radius: 0px;
    opacity: 100%;
    width: 150px;
    top: 205px;
    text-align: left;
}
#ball9:hover:after{
    content: 'Posição: 8 \A Conteúdo: \"t\" ';
}

#ball10 {
    top: 110px;
    left: 430px;
}
#ball10:hover {
    color: white;
    border-radius: 0px;
    opacity: 100%;
    width: 150px;
    top: 190px;
    text-align: left;
}
#ball10:hover:after{
    content: 'Posição: 9 \A Conteúdo: \"h\" ';
}

#ball11 {
    top: 105px;
    left: 475px;
}
#ball11:hover {
    color: white;
    border-radius: 0px;
    opacity: 100%;
    width: 150px;
    top: 180px;
    text-align: left;
}
#ball11:hover:after{
    content: 'Posição: 10 \A Conteúdo: \"o\" ';
}

#ball12 {
    top: 125px;
    left: 515px;
}
#ball12:hover {
    color: white;
    border-radius: 0px;
    opacity: 100%;
    width: 150px;
    top: 202px;
    text-align: left;
}
#ball12:hover:after{
    content: 'Posição: 11 \A Conteúdo: \"n\" ';
}


/*********************************************
 * gambiarra de animaçao
*********************************************/

.animation2{
    background-image: url('../img/process.png'); 
    background-position: top; 
    background-size: 400px;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
}

.animation2in{
    border-color: orangered; 
    border-style: solid; 
    border-width: 5px; 
    height: 220px; 
    width: 100px; 
    position: absolute;
}